@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}


@layer components {
    .mypadx {
        @apply md:px-8 px-4
    }

    .mypady {
        @apply py-4
    }

    .myp {
        @apply mypadx mypady
    }

    .btn {
        @apply flex justify-center items-center px-6 py-2 rounded-full uppercase text-base active:scale-90 transition-all
    }

    .btni {
        @apply flex justify-center items-center pl-4 pr-6 py-2 rounded-full uppercase text-base  gap-[6px] active:scale-90 transition-all
    }

    .btn-myorange {
        @apply btn bg-myorange text-white hover:bg-orange-500
    }

    .btn-myyellow {
        @apply btn bg-myyellow text-black hover:bg-yellow-400
    }

    .btn-mydark {
        @apply btn bg-mydark text-white hover:bg-gray-800
    }

    .btn-myblue {
        @apply btn bg-myblue text-white hover:bg-cyan-600
    }

    .btn-mylightblue {
        @apply btn bg-mylightblue text-black hover:bg-sky-300
    }

    .btni-myorange {
        @apply btni bg-myorange text-white hover:bg-orange-500
    }

    .btni-myyellow {
        @apply btni bg-myyellow text-black hover:bg-yellow-400
    }

    .btni-mydark {
        @apply btni bg-mydark text-white hover:bg-gray-800
    }

    .btni-myblue {
        @apply btni bg-myblue text-white hover:bg-cyan-600
    }

    .btni-mylightblue {
        @apply btni bg-mylightblue text-black hover:bg-sky-300
    }
}

.bg__gradient {
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(0deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.text__gradient {
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(180deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* handle hero image responsivity */
@media (max-width: 920px) {
    .hero-image {
        display: none;
    }

    .wrap-content {
        justify-content: center;
    }

    .content {
        padding-top: 2.5rem;
        padding-bottom: 0.75rem;
        align-items: center;
    }

    .content p:nth-of-type(3) {
        padding-left: 7rem;
        padding-right: 7rem;
        text-align: center;
    }
}